

h1  {
    color: #000000;
}

.link-top {
    color: black!important;
}

nav a:hover, #hero-section a:hover {
    color:  #228b22 !important;
}

.img-feature:hover  {
    transform: scale(1.1);
  }

#events  {
    background: #228b22;
    width: 100%;
}  

.event-container   {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    flex-flow: nowrap;
}

/* For Firefox*/
.event-container    {
    scrollbar-color: white green;
    scrollbar-width: thin;
}

/* For Chrome/Edge/Safari */
* .event-container::-webkit-scrollbar   {
    background: green;
    height: 10px;
    border-radius: 15px;
}

* .event-container::-webkit-scrollbar-thumb   {
    background: white;
    border-radius: 15px;
}

.event-color    {
    color: #228b22;
    font-weight: bold;
}

#events .card.item   {
    min-width: auto;
    width: 30rem;
}

.item   {
    margin-bottom: 20px;
}


#organisers img {
    margin-top: 10px;
}

.carousel-position  {
    color: green;
} 

.carousel-position:hover    {
    transform: scale(2);
}

.btn-foot:hover   {
    transform: scale(1.1);
}

#contact    {
    background: #228b22;
}

#organisers .card  {
    min-width: auto;
    width: 11rem;
}

@media (min-width: 200px)   {
    #hero-section   {
        height: 60vh;
    }

    

}   

@media (min-width: 200px)     {
    #hero{
        margin-top: 5rem;
    }

    
}

@media (min-width: 992px)   {
    #hero   {
        margin-top: 7rem;
    }

    #hero-section   {
        height: 70vh;
    }

}


